# Penguin Data

## import packages
import numpy as np

impoer pandas as pd

In [2]:
import numpy as np
import pandas as pd

## 1. read DataSet
use pandas

pd.read_csv('addres/name.csv')

In [3]:
data=pd.read_csv('penguins_size.csv')

## Information Of data
in the first print Information of data

there are 344 row and 7 column in the data

there are null value

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            344 non-null    object
 1   island             344 non-null    object
 2   culmen_length_mm   342 non-null    float64
 3   culmen_depth_mm    342 non-null    float64
 4   flipper_length_mm  342 non-null    float64
 5   body_mass_g        342 non-null    float64
 6   sex                334 non-null    object
dtypes: float64(4), object(3)
memory usage: 18.9+ KB

In [5]:
# 7 first row
data.head(7)

,species,island,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE
5,Adelie,Torgersen,39.3,20.6,190.0,3650.0,MALE
6,Adelie,Torgersen,38.9,17.8,181.0,3625.0,FEMALE

In [6]:
# 7 end data
data.tail(7)

,species,island,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,sex
337,Gentoo,Biscoe,48.8,16.2,222.0,6000.0,MALE
338,Gentoo,Biscoe,47.2,13.7,214.0,4925.0,FEMALE
339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,FEMALE
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,MALE
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,FEMALE
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,MALE

In [7]:
data["culmen_depth_mm"].describe

<bound method NDFrame.describe of 0      18.7
1      17.4
2      18.0
3       NaN
4      19.3
       ...
339     NaN
340    14.3
341    15.7
342    14.8
343    16.1
Name: culmen_depth_mm, Length: 344, dtype: float64>

In [8]:
# species of penguins
print(f'species of penguins is ----{data['species'].unique()}')
print(f'island of penguins is -----{data['island'].unique()}')
print(f'sex of penguins is --------{data['sex'].unique()}')

species of penguins is ----['Adelie' 'Chinstrap' 'Gentoo']
island of penguins is -----['Torgersen' 'Biscoe' 'Dream']
sex of penguins is --------['MALE' 'FEMALE' nan '.']

# 2. find out shape of data

In [20]:
data_shaope = data.shape
data_size = data.size
data_ndim = data.ndim

print(f'data_shaope = {data_shaope} \ndata_size = {data_size} \ndata_ndim = {data_ndim}')

data_shaope = (344, 7)
data_size = 2408
data_ndim = 2